<html>

<head>
  <title>FunnyHow? Sudoku</title>   
  <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
</head>


<body>


  <div>
    <div id="header1">
      <h1 id="title">FunnyHow? Sudoku</h1>
    </div>
    <div id="header2">
    </div>
  </div>



  <div id="sudoku">
    <form action="/" method="post">
      <% 3.times do |row| %>
        <div class='row'>
          <% 3.times do |box| %>
            <div class="box"  id='sudoku_table'>
              <% 3.times do |cell_row| %>
                <div class="cell-row">
                  <% 3.times do |cell| %>
                    <div class="cell">

                      <% cell_index = row * 27 + box * 3 + cell_row * 9 + cell %>
                      <% cell_value = cell_value(@current_solution[cell_index]) %>         
                      <% colour_class = colour_class(@check_solution, @puzzle[cell_index], @current_solution[cell_index], @solution[cell_index])  %>

                      <% cell_is_read_only = 'readonly' if colour_class == 'value-provided' %>

              				<input type="text"  maxlength="1" autocomplete="off" value='<%= cell_value %>' name="cell[]" class="<%= colour_class %>" <%= cell_is_read_only %> >
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
      <button id='progress' class='submit_button position_button' onclick="timeout_init()">Check progress</button>
    </form>
    <form action="/solution" method="post">
      <button id='solution' class='submit_button position_button' onclick="timeout_init()">Solution</button>    
    </form>
    <form action="/restart_puzzle" method="post">
      <button id='restart' class='submit_button position_button'>Restart puzzle</button>    
    </form>
  </div>





  <div class='difficulty_level'>
    <h3>New puzzle? Choose difficulty level:</h3>
    <form action="/newpuzzle" method="post">
      <button class='submit_button'>Easy</button> 
      <button class='submit_button'>Medium</button> 
      <button class='submit_button'>Hard</button> 
    </form>
  </div>




  <div id='footer'>
    <div id='footer1'>
    </div>
    <div id='footer2'>
      This puzzle is part of MakersAcademy exercise on Sinatra of week 5. 
      <p>www.funnyhow.pt
        <br>&copy; 2013 Paulo Gaspar</p>
    </div>
  </div>


<center><div id="flash">
  <%= flash[:notice1] %>
  <%= flash[:notice2] %>
</div></center>


  <script language="Javascript">
    function hide {
    document.getElementById('flash').style.display = "none";
    }

    function timeout_init() {
        setTimeout('hide', 1000);
    }
  </script>


</body>
</html>
